body {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.nav-item {
	color: white;
}

.top-buffer { 
	margin-top:20px; 
}

.bottom-buffer { 
	margin-bottom:20px; 
}

footer {
    height: 50px;
    bottom: 0;
    width: 100%;
}
