body {
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	width: 60%;
	align-content: center;
}

.nav-item {
	color: white;
}

.top-buffer { 
	margin-top:20px; 
}

.bottom-buffer { 
	margin-bottom:20px; 
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}

img {
	width: 50%;
	align-self: center;
}